html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el cuerpo ocupe toda la pantalla */
}

.container {
    width: 100%;
    max-width: 1000px;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    margin: 20px auto;  /* Centra el contenedor */
    flex-grow: 1;  /* Ocupa el espacio restante */
}

header, section, footer {
    margin-bottom: 20px;
}

header {
    background-color: #333;
    color: white;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
}

section {
    background-color: #e7e9eb;
    padding: 2rem;
    margin: 1rem 0;
    border-radius: 10px;
}

h2, h3 {
    color: #333;
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #e7e9eb;
    margin: 0.5rem 0;
    padding: 1rem;
    border-radius: 5px;
}

.details {
    display: none;
    margin-top: 1rem;
    background-color: #fff;
    padding: 0.5rem;
    border-left: 3px solid #0056b3;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    border-radius: 10px;
    margin-top: auto; /* Asegura que el footer esté al fondo */
}

a {
    color: #0056b3;
    text-decoration: none;
}

.profile-pic {
    width: 200px; /* Aumenta el tamaño para mejor resolución */
    height: auto; /* Mantiene la proporción correcta */
    border-radius: 50%;
    border: 4px solid #fff; /* Añade un borde blanco alrededor */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Añade una sombra suave */
}
